.banner{
  display: flex;
  cursor: pointer;
  img{
    width: 100px;
    height: 100px;
    margin: 0 20px; 
    @include responsive($breakpoint-medium){
      display: none
    }
  }
  @include component_size;
  padding: 20px;
  transition: 0.5s;
  &:hover{
    transform: scale(1.2);
    filter: brightness(1.6);
  }
}
.banner-text{
  border-radius: 20px;
  padding: 30px;
  background-image: linear-gradient(to right, #14141f, #29294e);
  display: flex;
  flex: 1;
  justify-content: space-between;
  button{
    @include button-style;
    background-color: #444;
  }

}