.faq{
  @include component_size;
  color: $text-color;
}
.faq-list{
  text-align: left;
  list-style: none;
  font-size: $font-size-medium;
  padding: 10px 0;
    li{
      margin: 5px;
      button{
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        padding: 20px;
        font-size: $font-size-medium;
        background-color: #444;
        color: $text-color;
        position: relative;
      }
      p{
        font-size: $font-size-medium;
        height: 0;
        opacity: 0;
        transition: 0.3s;
        // padding: 20px;
        background-color: #444;
        color: $text-color;
      }
      p.open{
        height: 150px;
        padding: 10px;
      }
    }
  }