.login{ 
  img{
    position: fixed;
    top: 20px;
    left: 10%;
    width: 200px;
    height: 100px;
    cursor: pointer;
    @include responsive($breakpoint-small){
      display: none; 
    }
    @include responsive($breakpoint-medium){
      display: none;
    }
  }
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
  url('../../public/images/bg.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-popup{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 500px;
  height: 90%;
  padding: 50px;
  position: relative;
  *{
    margin: 15px 0;
    font-size: $font-size-medium;
  }
  .close{
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    cursor: pointer;
    color: #888;
    &:hover{
      color: #fff;
    }
  }
  h2{
    font-size: $font-size-large;
  }
  label, input, span, button{
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  input{
    border: 1px solid #fff;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    &:focus{
      box-shadow: 0 0 5px #fff;
      // box-shadow: -2px -2px 0 #fff,
      //             -2px -2px 0 #fff,
      //             -2px -2px 0 #fff,
      //             2px 2px 0 #fff;
    }
  }
  button:nth-of-type(1){
    @include button-style;
  }
  button:nth-of-type(2){
    @include button-style;
    background-color: #888;
  }
  form{
    label{
      position: relative;
      &.focused{
        span{
          font-size: 10px;
          top: 20%;
          left: 10px;
        }
      }
      &.error{
        input{
          border: 2px solid #f00;
        }
      }
    }
    input{
      position: relative;
      padding-top: 25px;
    }
    span{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      transition: 0.3s;
    }
    p{
      text-align: center;
    }
    a{
      display: block;
      text-align: center;
    }
    .email-error{
      color: $primary-color;
      font-weight: bolder;
      font-size: 14px;
      text-align: left;
    }
    .pw-error{
      color: $primary-color;
      font-weight: bolder;
      font-size: 14px;
      text-align: left;
    }
  }
  .login-box{
    input[type=checkbox]{
      display: inline-block;
      width: 40px;
      margin: 0;
      transform: scale(1.5);
      &:focus{
      outline: none;
      box-shadow: none;
      }
    }
    span{
      display: inline-block;
      width: auto;
    }
    p:last-of-type{
      font-size: 14px;
      a{
        font-size: 13px;
        color: #00b;
        text-decoration: underline;
      }
    }
  }
}